<!DOCTYPE html>
<html>
  <head>
    <title>ConsoledApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar found in partials folder in a partials file %>
    <%= render "partials/navbar" %>
    <%# devise flash message - alert%>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
